@{
    Layout = "_layout";
}

		
		<div class="container">
		  <h2>Joseph D. Goelz</h2>                  
		  <img src="images/alpaca.jpg" class="alpaca img-responsive" alt="Cinque Terre" width="304" height="236"> 
		</div>
		